@charset "UTF-8";


/*Versão Mobile midias*/
/* Typical Device Breakpoints 
Pequenas Telas até 600px:    
    celular: de 600px até 768px
    Tablet: 768px ate 992 
    Desktop: 992px até 1200px
    Grandes Telas: Acima de 1200px  */


@media screen and (min-width: 768px) {
    span#imenu{
        display: none;
    }

    menu{
        display: block;
    }
    menu > ul > li {
        display: inline-block;
    }
}

main {
  
    width: 768px;

}